@import "tailwindcss";

:root {
    /* FUNDOS */
    --cor-fundo: #ffffff;
    --cor-fundo-suave: #fdf7fa;

    /* TEXTOS */
    --cor-texto: #2d2d2d;
    --cor-texto-suave: #666666;

    /* PALETA KLASSY */
    --cor-destaque: #d43188;
    --cor-destaque-hover: #ad256d;
    --cor-secundaria: #e0c15a;
    --cor-secundaria-hover: #c4a647;

    /* TIPOGRAFIA */
    --fonte-principal: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    overflow-x: hidden;
}